<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="Logical and nueral network">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<p>Logical and nueral network</p>
<body>
 <div id="chart3"></div>
 <div id="angular" ng-controller="DoubleController">
    Add Node :  <input ng-model="num"> 

  

  <button ng-click="double(num);">NODE</button>
 
  </div>
  <div id="angular2" ng-controller="EdgeController">
    Add Edge From :  <input ng-model="edgeValfrom"> 
      Add Edge To :  <input ng-model="edgeValto"> 
  

  <button ng-click="edge(edgeValfrom,edgeValto);">EDGE</button>
 
  </div>
  

   <div id="angular4" ng-controller="TrainController">
  
  Input to node 1 :  <input ng-model="node1"> 
      Input to node 2 :  <input ng-model="node2"> 
      Target :  <input ng-model="target"> 
        <p>The result is {{result}} </p>
      <button ng-click="train(node1,node2,target);">TRAIN</button>
 
 
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="http://d3js.org/d3.v2.js"></script>
  <script src="jsnetworkx.js"></script>


  

  <script src="app.js"></script>

</body>
</html>
